[Desktop Entry]
Encoding=UTF-8
Name=Unpay
Comment=Unpay P2P Cryptocurrency
Comment[fr]=Unpay, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Unpay, eşten eşe kriptografik sanal para birimi
Exec=unpay-qt %u
Terminal=false
Type=Application
Icon=unpay128
MimeType=x-scheme-handler/unpay;
Categories=Office;Finance;
